.kable_wrapper {
  border-spacing: 20px 0;
  border-collapse: separate;
  border: none;
  margin: auto;
}

.kable_wrapper > tbody > tr > td {
  vertical-align: top;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

h1{
  text-align: center;
  color: #FFCC00;
  padding: 10px;
  background-color: black
}

mark {
  background: linear-gradient(-100deg, hsla(47.9,100%,65.1%,.3), hsla(47.9,100%,65.1%,.7) 95%, hsla(47.9,100%,65.1%,.1));
  border-radius: 1em 0;
  padding: 0.4rem;
}

.yellowbox {
  padding: 1em;
  background: white;
  color: black;
  border: 2px solid #FFCC00;
  border-radius: 10px;
  margin-bottom: 10px;
}